body, html {
    margin: 0;
    padding: 0;
    font-family: monospace;    
}                

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#info {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px auto auto;    /* top right bottom left */
    padding: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 21px;
    text-align: center;
    color: #222;
    background: #fff;
}
#pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 200px;
    margin-left: -75px;
    margin-top: -100px;
    font-size: 50px;
    font-family: monospace;
    color: brown;
    transform-origin: center;
    text-align: center;
}
